//
* {
  font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  //
}

body {
  background-color: #eee;
}



.img-a {
  width: 300px;
}

.tr-stretched {
  position: relative;
  cursor: pointer;

  transition: all 200ms;

  &:hover,
  &:target {
    transform: scale(1.01);
  }
}

.inline-laptop {
  display: none;

  @media (min-width: 600px) {
    display: inline;
  }
}

.inline-mobile {
  display: none;

  @media (max-width: 600px) {
    display: inline;
  }
}